/*Restringe o endereço da main*/

main{
	display: block;
	width: 940px;
	margin: 0 auto;
}


/*Parte azul com os dados*/
.endereco-contato{
	display: inline-block;
	width: 35%;
	height: 40rem;
	background: var(--primaria);
	margin: 4.2rem auto;
	vertical-align: top;
}

address{
	margin-top: 1rem;
}

.endereco-contato p {
	margin-top: 0;
	padding: 3rem;
	text-align: justify;
	color: var(--braco);
    font-family: 'Lato',sans-serif;
    font-size: 1.2rem;
   	line-height: 1.6rem;
    width: auto;
}

.endereco-contato strong{
	font-size: 1.2rem;
   	font-weight: 700;
}

.contato{
	width: auto;
	display: inline-block;
	margin: 2rem;
}

/*Parte do formulário*/
.formulario{

	margin: 40px 0 ;
}

.formulario label {

	display: inline-block;
	font-size: 1.3rem;
	margin: 0 0 0.6rem;
	font-family: 'Lato',sans-serif;
	color: var(--cinza);
}

h3,legend {

	display: block;
	font-size: 1.3rem;
	margin: 0 0 0.6rem;
	font-family: 'Lato',sans-serif;
	color: var(--cinza);
}

select{
	display: block;
	margin: 0 0 1.3rem;
	padding: 0.6rem 1.8rem;
	font-size: 14px;
	font-family: 'Lato',sans-serif;
	color: var(--cinza);
}

.input-form {

	display: block;
	margin: 0 0 20px;
	padding: 5px 10px;
	width: 100%;
}

.satisfacao{
	margin: 10px auto;
}

.satisfacao input{

	margin-left: 0px;
	margin-right: 15px;
	text-align: center;
}

/*Parte da página de enviado com sucesso*/
.enviado-sucesso{
	display: inline-block;
	width: 30%;
	margin: 30% auto;
	vertical-align: top;
}

.mensagem-concluido{
	margin-top: 50%;
}

/*adptação para tablet*/
@media screen and (min-width: 480px) and (max-width: 1024px){
	.endereco-contato{
		width: 30%;
	}
	
	.contato{
		margin: 2rem 1rem;
	}

	.endereco-contato p{
		text-align: center;
	}

	.input-form{
		width: 80%;
	}

	fieldset, .satisfacao{
		width: 80%;
		margin: 0;
	}

	.botao{
		margin: 0;
	}

	.mensagem-concluido{
		margin: auto 10%;
	}
}

/*adptação para mobile*/

@media screen and (max-width: 480px){

	main{
		width: auto;
	}

	.endereco-contato{
		width: 100%;
	}

	.endereco-contato p{
		text-align: center;
	}

	.input-form{
		width: 95%;
	}

	.botao{
		margin: 0;
	}

	.enviado-sucesso{
		width: 100%;
		height: 100%;
	}

	.mensagem-concluido{
		margin: 20% auto;
		width: auto;
	}
}
