/*Banner com o mapa de imperatriz*/
.banner{
	opacity: 0.6;
	background: var(--preto);
}

.banner:hover {
	opacity: 1;
	transition: 0.5s;
}
/*Parte do sobre o Panelodromo*/
h2{
	margin: 4rem;
}

.sobre{
	margin-bottom: 10%;
	width: 90%;
}

.img-sobre {
	width: 40%;
	height: 30%;
	margin: 0 4rem 4rem 4rem;	
	float: left;
}

.img-sobre img{
	width: 100%;
	height: 100%;
	box-shadow: 0 3px 5px var(--preto);
}

.texto-lateral{
	text-align: justify;
	color: var(--cinza);
    font-family: 'Lato',sans-serif;
    font-size: 1.1rem;
    margin-left: 4rem;
    width: 100%;
    line-height: 1.7;
}

.texto-lateral:fist-letter {
	font-size: 1.5em;
}

/*Parte da citação*/
.citacao{
	margin-top: 4rem;
}

.texto-citacao {
	text-align: center;
    color: var(--cinza);
    margin:4rem;
    padding: 100px 80px 4rem 4rem;
    border-top: 1px solid var(--preto);
    border-bottom: 1px solid var(--preto);
    font-family: 'Lato',sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    clear: left;
}

div p {
	font-family: calibri;
	position: relative;
	text-align: center;
	margin-top: 1rem;
	display: block;
	font-size: large;
	margin-right: 5rem;
	margin-left: 5rem;
}

strong{
	font-size: 1.4rem;
	color: var(--primaria);
	font-family: Abadi MT Condensed Light;
}

.texto-citacao p:before{
	content: "❝";
	font-size: 1.6rem;
	color: var(--primaria);
}

.texto-citacao p:after{
	content: "❞";
	font-size: 1.6rem;
	color: var(--primaria);
}

.citacao em{
	font-size: 1.2rem;
	margin-left: 70%;
	line-height: 2.7;
	color: var(--primaria);
}

/*Parte da Galeria*/
.galeria{
	text-align: center;
	margin: 0px 0px 4rem 0px;
}

.galeria img{
	position: relative;
	height: 15rem;
	width: 15rem;
	margin: 1rem;
}

.galeria img:hover {
	transform: scale(1.2);
	transition: 1s all;
	margin: all;

}

/*adptação para tablet*/
@media screen and (min-width: 480px) and (max-width: 1024px){
	.sobre{
		margin: auto 3rem;
	}
	
	.img-sobre{
		width: 100%;
		float: none;
		margin: auto;
	}

	.texto-lateral{
		margin: 3rem auto;
	}

	.texto-citacao{
		margin: auto;
	}
}


/*adptação para mobile*/

@media screen and (max-width: 480px){
	/*Oculta o mapa caso esteja no celular*/
	.banner{
		display: none;
	}
	/*Parte do sobre*/
	.sobre{
		display: block;
		width: 100%;
	}

	.img-sobre{
		width: 100%;
		margin: 0 0 4rem 0;
	}

	.img-sobre img{
		display: block;
		width: 100%;
		
	}

	.texto-lateral{
		display: block;
		margin: 0 20px 0px 10px;
		width: auto;
	}
	/*Parte da citação*/
	.texto-citacao {
		margin: 0;
		padding: 20px 0 0 20px;
	}

	.texto-citacao p{
		margin: 0 20px 20px 0;
		padding: 0;
	}

	.citacao em{
		margin: 0 10px 20px 0;
		text-align: center;
	}

	.galeria img{
		width: 100%;
		margin: 0;
	}

	div p {
		margin: auto;
	}
}